{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Jeff Maxim{% endblock %}

{% block page_content %}
<div class="page-header">
    <table>
        <th valign="bottom" height="150px"><h1>Hi! I'm Jeff Maxim</h1></th>
        <th valign="bottom" text-align="right" height="150px"><img src="{{ url_for('static', filename='img/jeff.jpg') }}"></th>
    </table>
</div>
<div class="container" id="form">
    {{ wtf.quick_form(form) }}
</div>
<div class="chart">
    <h2>D3 bar chart will go here!</h2>
    <div id="bar-chart">

    </div>
</div>

{% endblock %}